<%= form_for @article do |f| %>
  <%= f.label :url, "URL"  %>
  <%=f.text_field :url%>
  <%= f.label :category, "category"  %>


<%= f.select(:category_id) do %>
  <% @splash.each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
  <% end %>
<% end %>

  <%=f.submit%>
<% end %>

<p></p>
<%= form_for @category do |f| %>
  <%= f.label :name, "Category name"  %>
  <%=f.text_field :name%>
  <%=f.submit%>
<% end %>
